@page
@model RazorPortfolio.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Me";
}
<h1>@ViewData["Title"]</h1>

<p>Feel free to message me through LinkedIn!</p>

<a href="https://www.linkedin.com/in/omar-bonnet-5328b68b/" target="_blank"><img src="~/images/LinkedInLogo.png" /></a>