@page
@model IndexModel
@{
    ViewData["Title"] = "About Omar";
}

<div class="row">
    <div class="col">
        <img class="rounded w-75" src=".\images\selfie.jpg" alt="Selfie of a man Latino man in his thirties with long hair smiling." />
    </div>
    <div class="col">
        <h1 class="display-4 text-start">I'm Omar Bonnet. Welcome to my Portfolio!</h1>
    </div>
    <div class="col d-none d-md-block"></div>
</div>
<div class="row">
    <div class="col">
        <div class="text-start">
            <h3>Who Am I?</h3>
            <p>A trilingual family man looking to start a career in software development. I spent my 
                early 20's forecasting weather for the US Air Force and the rest of my adulthood as a 
                sign language interpreter. Now I'm devoting full time hours to developing myself as a 
                programmer and finding a workplace where I can grow.</p>
        </div>
    </div>
    <div class="col d-none d-md-block"></div>
</div>
<div class="row">
    <div class="col">
        <div class="text-start">
            <h3>How Did I Get Here?</h3>
            <p>
                I've always been drawn to the logic of languages, specifically linguistics and syntax. 
                Learning languages has been a hobby of mine for my entire adult life.
                In 2022, after a few conversations with the man who would mentor my journey, I discovered 
                that my skills and interest with spoken languages translates to coding languages very well. 
                I was able to pick up syntax and usage effortlessly and quickly by relying largely on the 
                documentation.
            </p>
        </div>
    </div>
    <div class="col d-none d-md-block"></div>
</div>
<div class="row">
    <div class="col">
        <div class="text-start">
            <h3>What's Next?</h3>
            <p>
                I'm in a really good place to join a company as a junior software developer. My 
                C# experience so far sets a good foundation while still allowing me a lot of 
                flexibility. Ideally, I would join a team and with their direction I'll continue to grow
                and will tailor my knowledge and skills to my employer's needs.
            </p>
        </div>
    </div>
    <div class="col d-none d-md-block"></div>
</div>